.heroCard {
  box-sizing: border-box;
  font-family: 'Oxanium', sans-serif;
  position: relative;
  z-index: 0;
  user-select: none;
  cursor: pointer;
  width: fit-content;
  overflow: hidden;
  padding: 0;
  border-radius: 37.5px;
  /* width: 750px;
  height: 1050px; */
  width: 730px;
  height: 1030px;
  background: white;
  box-shadow: inset 0 0 0 20px black;

  .heroCard__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .content__top {
      .top__safeZone {
        padding: 40px;
        display: flex;
        justify-content: space-between;

        .top__resources {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 20px;
        }

        .top__number {
          font-size: 120px;
          font-weight: bold;
          border-radius: 75px;
          width: 150px;
          height: 150px;
          background: black;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 11px;
          margin: 20px;
        }
      }
    }

    .content__info {
      .info__safeZone {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 75px;
        text-align: center;
        color: black !important;

        .info__name {
          font-size: 60px;
          font-weight: 700;
          white-space: nowrap;
          line-height: 120%;
        }

        .info__description {
          font-size: 40px;
          line-height: 140%;
        }
      }
    }
  }
}
