.locationCard {
  box-sizing: border-box;
  background: black;
  font-family: "Oxanium", sans-serif;
  position: relative;
  z-index: 0;
  user-select: none;
  cursor: pointer;
  width: fit-content;
  overflow: hidden;
  padding: 37.5px;

  .locationCard__trimZone {
    padding: 37.5px;
    width: 825px;
    height: 1425px;

    .locationCard__safeZone {
      padding: 37.5px;
      height: 100%;

      .safeZone__content {
        color: white;
        background: gray;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        background-size: cover;

        .content__name {
          text-align: center;
          font-size: 60px;
          line-height: 125%;
          font-weight: 600;
          padding: 40px;
          text-align: center;
          background-image: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0)
          );
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        }

        .content__barriers {
          position: relative;
          display: flex;
          align-items: center;
          flex: 1;

          .barriers__bar {
            background: rgba(0, 0, 0, 0.8);
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

            svg {
              font-size: 60px;
            }
          }
        }

        .content__rewards {
          background: rgba(0, 0, 0, 0.8);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 40px;

          .rewards__energy {
            display: flex;
            align-items: center;
            gap: 10px;

            .energy__count {
              font-size: 60px;
              font-weight: 600;
              margin-top: 8px;
            }

            svg {
              font-size: 60px;
              color: #f5ff38;
            }
          }

          .rewards__cards {
            display: flex;
            gap: 20px;

            svg {
              font-size: 80px;
              width: 60px;
            }
          }
        }
      }
    }
  }
}

@media print {
  .locationCard {
    padding: 0;
    border-radius: 37.5px;
    overflow: hidden;

    .locationCard__trimZone {
      .locationCard__safeZone {
        .safeZone__content {
          background: white !important;

          .content__name {
            background: none !important;
            text-shadow: none !important;
            color: black;
          }

          .content__barriers {
            .barriers__bar {
              background: none !important;

              svg {
                color: black !important;
              }
            }
          }

          .content__rewards {
            background: none !important;
            color: black;

            svg {
              color: black !important;
            }
          }
        }
      }
    }
  }
}
