.locationCard {
  box-sizing: border-box;
  font-family: 'Oxanium', sans-serif;
  position: relative;
  z-index: 0;
  user-select: none;
  cursor: pointer;
  width: fit-content;
  overflow: hidden;
  padding: 0;
  border-radius: 37.5px;
  width: 750px;
  height: 1050px;
  background: white;
  box-shadow: inset 0 0 0 20px black;

  .locationCard__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .content__top {
      .top__safeZone {
        padding: 40px;
        display: flex;
        justify-content: space-between;

        .top__barriers {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 20px;
        }

        .top__area {
          font-size: 35px;
          padding: 20px;
          font-weight: 500;
          font-style: italic;
        }
      }
    }

    .content__info {
      .info__safeZone {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 75px;
        text-align: center;
        color: black !important;

        .info__name {
          font-size: 60px;
          font-weight: 700;
          white-space: nowrap;
        }

        .info__resources {
          display: flex;
          gap: 20px;
          background: black;
          border-radius: 16px;
          padding: 20px 25px;
          color: white;
          width: fit-content;
        }
      }
    }
  }
}
